/* ==================================================
//  ____  _     _   _            _   _          _____ _                              
// |  _ \(_)___| |_(_)_ __   ___| |_(_)_   ____|_   _| |__   ___ _ __ ___   ___  ___ 
// | | | | / __| __| | '_ \ / __| __| \ \ / / _ \| | | '_ \ / _ \ '_ ` _ \ / _ \/ __|
// | |_| | \__ \ |_| | | | | (__| |_| |\ V /  __/| | | | | |  __/ | | | | |  __/\__ \
// |____/|_|___/\__|_|_| |_|\___|\__|_| \_/ \___||_| |_| |_|\___|_| |_| |_|\___||___/
//
/* ==================================================*/

/*-----------------------------------------------------------------------------------*/
/*  TABLE OF CONTENTS
/*-----------------------------------------------------------------------------------*/


/*  1 - FONT IMPORT
/*  2 - BASE
/*  3 - BUTTONS
/*  4 - NAV
/*  5 - HEADER
/*  6 - SECTIONS
/*  7 - PORTFOLIO
/*  8 - BLOG
/*  9 - COMMENTS 
/*  10 - HOVER CAPTIONS 
/*  11 - FOOTER
/*  12 - CAROUSEL STYLES
/*  13 - SEARCH
/*  14 - SPLASH
/*  15 - MAP
/*  16 - FORM CONTROL
/*  17 - TABS
/*  18 - COUNTDOWN
/*  19 - MEDIA QUERIES
/*  20 - SHOP
/*  21 - SIDE NAV
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/


/*  1 - FONT IMPORT
/*-----------------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900|Montserrat:400,700|Nothing+You+Could+Do);
@import url(https://fonts.googleapis.com/css?family=Crete+Round:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Chivo|Noto+Sans&display=swap);
/*-----------------------------------------------------------------------------------*/


/*  2 - BASE
/*-----------------------------------------------------------------------------------*/

body {
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.75;
    color: #333
}

body.boxed-layout {
    background-color: #eee;
}

.secondary-font {
    font-family: 'Crete Round', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.heading-font,
.navbar-default .navbar-brand,
.navbar-default .nav li a {
    font-family: 'Chivo', sans-serif;
    text-transform: none;
}
.header-garayo{
    font-size: 34px;
}
.text-muted {
    color: #444
}

.text-primary {
    color: #333
}

p {
    font-size: 13px;
    line-height: 26px;
}

p.large {
    font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none
}

a {
    color: #333
}

a:hover,
a:focus,
a:active,
a.active {
    color: #c2253e
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Chivo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px
}
.h2-homepage{
    font-size: 15px !important;
}
.img-centered {
    margin: 0 auto
}

.gap {
    margin-bottom: 60px
}

.mb15 {
    margin-bottom: 15px !important;
    display: block;
}

.mb30 {
    margin-bottom: 30px !important;
    display: block;
}

.mb50 {
    margin-bottom: 50px;
    display: block;
}

.mb100 {
    margin-bottom: 100px;
}

.nomarginbottom {
    margin-bottom: 0
}

.mt0 {
    margin-top: 0px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px;
}

.mt60 {
    margin-top: 60px
}

.mt120 {
    margin-top: 120px
}

.ptb {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nopaddingtop {
    padding-top: 0!important
}

.nopaddingbottom {
    padding-bottom: 0!important
}

.nopadding-lr {
    padding-left: 0!important;
    padding-right: 0!important
}

.nopadding-l {
    padding-left: 0!important
}

.pad-sides-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.pad-top-60 {
    padding-top: 60px !important
}

.pad-top-200 {
    padding-top: 200px !important;
}

.thin {
    font-weight: 300
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #333
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #333
}

.list-unstyled {
    margin-bottom: 0;
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #333
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%
}

.img-thumbnail {
    border: none
}

.smoothie,
.smoothie:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.col-md-5th {
    width: 20%
}

.thin-hr {
    margin: 30px 0 40px;
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    border: none;
}

.thin-hr.bordered {
    margin: 20px 0;
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    border: 1px solid #333;
}

.thin-hr:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #333;
    left: 50%;
    margin-left: -60px;
}

.rotate-45 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon-large {
    font-size: 40px;
}

.background-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.lead {
    font-size: 18px;
    line-height: 32px;
}

.white {
    color: #fff;
}
.background-gradient-orange-green{
    background: rgb(248,153,56);
    background: linear-gradient(90deg, rgba(248,153,56,1) 0%, rgba(248,153,56,1) 35%, rgba(45,179,74,1) 100%); 
}
@media (min-width: 1200px) {
    .container {
        width: 1370px;
    }
}


/*-----------------------------------------------------------------------------------*/


/*  3 - BUTTONS
/*-----------------------------------------------------------------------------------*/

.btn {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn:active,
.btn.active {
    outline: none;
    box-shadow: none
}

.btn-primary {
    border-color: #333;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    padding: 15px 0px;
    letter-spacing: 1px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: none;
    border-bottom: 3px solid;
    font-size: 13px;
}

.btn-primary.btn-transparent {
    border-color: transparent!important
}

.btn-primary.btn-transparent:hover,
.btn-primary.btn-transparent:active,
.btn-primary.btn-transparent:focus,
.btn-primary.btn-transparent.active {
    color: #a7a7a7;
    border-color: transparent!important;
    background-color: transparent!important
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #333;
    color: #f3f3f3;
    background-color: transparent !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #333;
    background-color: #333
}

.btn-default,
.btn-default.disabled {
    border-color: transparent
}

.btn-white {
    border-color: #f3f3f3;
    color: #f3f3f3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #888;
    color: #888;
    background-color: transparent!important
}

.btn-homepage{
    width: 350px;
    color: #fff;
    background-color: #f89938;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}

/*-----------------------------------------------------------------------------------*/


/*   4 NAV
/*-----------------------------------------------------------------------------------*/

.top-bar {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    color: #fff;
    height: 53px;
    opacity: 1;
    overflow: hidden;
}

.top-bar a {
    color: #fff;
}

.navbar-shrink .top-bar {
    border-bottom: 1px solid #DADFE1;
    color: #222;
    height: 0;
    opacity: 0;
    padding: 0;
}

.navbar-shrink .top-bar a {
    color: #222;
}

.navbar-static {
    position: static !important;
}

.navbar-default {
    border-color: transparent;
    background-color: #182326
}

.navbar-default .navbar-brand {
    color: #333;
    margin-top: 10px;
    letter-spacing: 7px;
    font-size: 24px;
    font-weight: 700;
}

.navbar-brand.logo img {
    max-height: 50px;
    top: -3px;
    position: relative;
}

.navbar-brand.logo-dark {
    display: none;
    opacity: 0;
}

.navbar-shrink .navbar-brand.logo-light {
    display: none;
    opacity: 0;
}

.navbar-shrink .navbar-brand.logo-dark {
    display: block;
    opacity: 1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #333
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    border-color: transparent;
    background-color: transparent
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.caret {
    margin-top: -3px
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #333;
    padding: 25px 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    letter-spacing: 1px;
}

.navbar-default.background--dark .nav li > a,
.navbar-default.background--dark .navbar-brand,
#headerwrap.background--dark .intro-text,
.navbar-default .nav li > a,
.navbar-default .navbar-brand,
#headerwrap .intro-text {
    color: #fff;
}

#headerwrap{
    background-image: url(../img/bg/bg-homepage.jpg);
    background-size: cover;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: transparent;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fff;
}

.navbar-default .nav li.dropdown.open > a,
.navbar-default .dropdown-menu a {
    color: #333 !important;
}

.navbar-default .nav .dropdown-menu li a {
    padding: 15px 20px 15px 10px;
    font-size: 11px;
    font-weight: 400;
    white-space: normal;
}

#headerwrap .btn-primary {
    border-color: #f3f3f3;
    color: #f3f3f3;
}

.navbar-default.navbar-shrink .nav li a:hover,
.navbar-default.navbar-shrink .nav li a:focus {
    outline: 0;
    color: #333
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    background-color: transparent;
    color: #333;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.navbar-default.navbar-shrink .nav li.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #333;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.navbar-default.navbar-shrink .nav li > a,
.navbar-default.navbar-shrink .navbar-brand {
    color: #333;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #333;
    background-color: #333
}

.navbar .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 220px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fcfcfc;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar-default.navbar-shrink .nav .dropdown-menu li a {
    color: #333;
}

.navbar-default.navbar-shrink .nav .dropdown-menu li a:hover,
.navbar-default .nav .dropdown-menu li a:hover {
    color: #333;
    background-color: #eee;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #000;
}


/*-----------------------------------------------------------------------------------*/


/*  5 - HEADER
/*-----------------------------------------------------------------------------------*/

#headerwrap {
    background-color: #f3f3f3;
    overflow: hidden
}

.opaque {
    background-color: transparent!important
}

.backstretch:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0
}

.backstretch-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #79316e;
    background: -moz-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #79316e), color-stop(100%, #1f2653));
    background: -webkit-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: -o-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: -ms-linear-gradient(top, #79316e 0%, #1f2653 100%);
    background: linear-gradient(to bottom, #79316e 0%, #1f2653 100%);
    opacity: 0.5;
}

.backstretch-overlay-alt .backstretch-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #3A539B;
    opacity: 0.5;
}

.no-overlay .backstretch-overlay {
    display: none;
    opacity: 0;
}

#tubular-container {
    z-index: -1!important;
    position: absolute!important
}

header {
    color: #333
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #333
}

#headerwrap img {
    margin: 0 auto;
    display: block;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    text-transform: none;
    line-height: 22px
}

header .intro-text .intro-heading {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px
}


/* HEADER STYLES */

.header-homepage{
    width: 50%;
    font-size: 17px !important;
}

.header-2 {
    background-color: #fff !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.header-2 .top-bar {
    background-color: #222;
    height: 45px;
}

.header-2.navbar-shrink .top-bar {
    height: 0;
}

.header-2 .navbar-header a,
.header-2 .navbar-header *,
.header-2.navbar-default .nav li a,
.header-2.navbar-default .nav li *,
.header-3-container .nav li a,
.header-3-container .navbar-brand,
.header-5 a,
.header-5 *,
.header-6 a,
.header-6 * {
    color: #222 !important;
}


/* HEADER 3 */

.header-3 .top-bar {
    border-bottom: 0;
}

.header-3-container {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-shrink .header-3-container {
    background-color: transparent;
}


/* HEADER 5 */

.header-5 {
    margin-bottom: 0;
    padding: 10px 0 0 !important;
}

.header-5.navbar-shrink .top-bar {
    height: 53px !important;
}


/* HEADER 6 */

.header-6 {
    margin-bottom: 0;
}

.header-6 .navbar-brand {
    float: none;
    display: block;
}

@media all and (min-width: 769px) {
    .header-6.navbar-default .navbar-collapse,
    .header-6 .navbar-nav {
        width: 100%;
    }
    .header-6 .navbar-nav > li {
        float: none;
        display: inline-block;
    }
}

.header-6 {
    background-color: #fff !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.header-6 .top-bar {
    background-color: #222;
    height: 45px;
}

.header-6.navbar-shrink .top-bar {
    height: 0;
}

.header-6 .top-bar *,
.header-6 .top-bar a {
    color: #fff !important;
}


/*-----------------------------------------------------------------------------------*/


/*  6 - SECTIONS
/*-----------------------------------------------------------------------------------*/

section {
    background-color: #fff;
    clear: both;
}

.silver-bg {
    background-color: #DADFE1
}

.white-bg {
    background-color: #fff
}

.dark-wrapper {
    background-color: #111111
}

.dark-wrapper.opaqued,
.dark-opaqued {
    background-color: rgba(0, 0, 0, 0.7);
}

.dark-wrapper.dark-grey-wrapper.opaqued,
.dark-wrapper.dark-grey-opaqued {
    background-color: rgba(0, 0, 0, 0.8);
}

#headerwrap.opaqued {
    background-color: rgba(68, 34, 69, 0.9);
}

.remove-opacqued-bg .dark-opaqued {
    background-color: transparent;
}

.dark-wrapper h1,
.dark-wrapper h2,
.dark-wrapper h3,
.dark-wrapper h4,
.dark-wrapper h5,
.dark-wrapper h6,
.dark-wrapper p,
.dark-wrapper a,
.dark-wrapper,
.dark-wrapper * {
    color: #f3f3f3
}

.dark-content h1,
.dark-content h2,
.dark-content h3,
.dark-content h4,
.dark-content h5,
.dark-content h6,
.dark-content p,
.dark-content a,
.dark-content,
.dark-content * {
    color: #222
}

.section-inner {
    padding: 120px 0
}

.contact-section-inner {
    padding: 200px 0 120px;
}

section h2.section-heading,
.section-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 42px;
    letter-spacing: 8px;
    font-weight: 700;
}

section h3.section-subheading {
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
    clear: both;
    display: block;
    padding-top: 0;
    font-style: italic;
    margin: 0;
    position: relative;
}

.cl-effect-3 a {
    padding: 8px 0;
}

.cl-effect-3 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    opacity: 0;
    margin-top: -3px;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-shrink .cl-effect-3 a::after {
    background: rgba(0, 0, 0, 0.2);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.tagcloud a {
    border-radius: 0;
    padding: 5px 12px;
    text-transform: uppercase;
    margin: 0 1px 5px 0;
    border: 1px solid;
}

.tagcloud a:hover {
    background-color: #fff;
    color: #444;
    border-color: #fff;
}

.widget .media-body .muted {
    display: block;
    font-size: 10px;
}

.widget .media-heading {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    top: -5px;
    position: relative;
}


/*-----------------------------------------------------------------------------------*/


/*  7 - PORTFOLIO
/*-----------------------------------------------------------------------------------*/

.portfolio-items {
    margin-left: -15px;
    margin-right: -15px;
}

.pad-masonry-portfolio-items .masonry-portfolio-item {
    margin-bottom: 30px
}

.fixed-filters {
    position: relative;
    overflow: hidden;
}

.fixed-filters .masonry-portfolio-filter {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 15px;
}

.isotope-item {
    z-index: 2
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1
}

.portfolio-filter a {
    margin: 0 10px;
    border-color: #f3f3f3;
}

.portfolio-filter a.active {
    border-color: #222;
}


/*-----------------------------------------------------------------------------------*/


/*  8 - BLOG
/*-----------------------------------------------------------------------------------*/

.blog-item .post-title,
.project-item .post-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 4px;
}

.meta-item {
    font-size: 12px;
    margin-right: 20px;
    font-weight: 300;
}

.meta-item.post-date {
    clear: left;
    display: block;
}

.item-metas .meta-item:last-of-type {
    margin-right: 0px;
}

.meta-item span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.post-date .the-date {
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
}

.post-date .the-month {
    text-transform: uppercase;
}

.single-post-content p {
    margin-bottom: 45px;
}


/*-----------------------------------------------------------------------------------*/


/* 9 - COMMENTS 
/*-----------------------------------------------------------------------------------*/

textarea#comments {
    min-height: 250px;
    margin: 5px 0 0 4px;
    width: 99.1%;
}

#comments-list .well {
    background-color: transparent;
    overflow: hidden;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: 30px;
}

#comments-list .well .secondary-font {
    font-size: 13px;
    clear: left;
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: lowercase;
}

.comment-avatar {
    max-width: 80px;
    margin-right: 15px;
    height: auto;
}


/*-----------------------------------------------------------------------------------*/


/*  10 - HOVER CAPTIONS 
/*-----------------------------------------------------------------------------------*/

.hover-item {
    position: relative;
    overflow: hidden
}

.hover-item img {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0)
}

.overlay-item-caption {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

.hover-item-caption {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    z-index: 2;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hover-item-caption:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 15px;
    -webkit-box-shadow: inset 0 0 0 1px #000000;
    box-shadow: inset 0 0 0 1px #000000;
    opacity: 0.5;
}

.hover-item:hover .hover-item-caption {
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hover-item-caption h3,
.hover-item-caption .smoothie {
    top: 0px;
    position: relative;
}

.hover-item-caption h3 {
    padding: 0 20px;
}

.hover-item:hover .hover-item-caption h3,
.hover-item:hover .smoothie {
    top: 0px;
}

.hover-item:hover .overlay-item-caption {
    opacity: 0;
    top: 0px;
}

.hover-item:hover .overlay-item-caption .vertical-center {
    opacity: 0;
}

.hover-item-caption a.btn,
.overlay-item-caption a.btn {
    margin: 0 15px;
    z-index: 10;
}

.hover-item:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.hover-item-caption h3,
.overlay-item-caption h3 {
    margin: 14px 0 26px;
    color: #fefefe;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6px;
}

.overlay-item-caption strong {
    color: #fefefe;
    padding-bottom: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    letter-spacing: 4px;
}

.overlay-item-caption .thin-hr:after,
.dark-wrapper .thin-hr:after {
    background-color: #fff;
}

.overlay-item-caption .post-excerpt {
    font-style: italic;
    color: #fefefe;
    padding-top: 16px;
    font-size: 16px;
    padding-left: 15%;
    padding-right: 15%;
}

.hover-item-caption h3 span,
.overlay-item-caption h3 span,
.hover-item-caption h2 span {
    clear: both;
    display: block;
    text-transform: none;
    font-size: 20px;
    color: #fefefe;
}

.hover-item-caption h2 span {
    display: inline-block;
}

.hover-item-caption a,
.overlay-item-caption a {
    color: #222;
}

.vertical-align-bottom {
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.slide-caption {
    background-color: rgba(255, 255, 255, 0.8);
    color: #fff;
    padding: 20px 25px;
}

.slide-caption p {
    text-shadow: none;
    color: #444;
}

.post-slide .hover-item-caption {
    background-color: transparent;
}

.post-slide .hover-item-caption:after {
    display: none;
}


/*-----------------------------------------------------------------------------------*/


/*  11 - FOOTER
/*-----------------------------------------------------------------------------------*/

#footer-widgets {
    border-top: 1px solid #333
}

#footer-widgets .section-inner {
    padding-bottom: 80px
}

footer.white-wrapper {
    padding: 60px 0;
    background-color: #000;
}

footer.white-wrapper * {
    color: #fff;
}

footer.white-wrapper span.copyright {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-transform: none;
    line-height: 40px
}

footer.white-wrapper .social-links li {
    padding: 15px 30px
}

footer.white-wrapper .social-links li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px;
}

.widget-title {
    margin-bottom: 30px;
}

.flexpanel .viewport .widget {
    padding-right: 20px;
}

/* FOOTER STYLES */

.footer-image-bg {
    background-image: url(../img/footer-bg.jpeg);
    background-size: cover;
    background-position: center center;
}

.footer-img-theme{
    width: 60px;
}

.footer-image-bg .dark-wrapper,
.footer-image-bg .white-wrapper {
    background-color: transparent !important;
    border: none;
}

.footer-image-bg *,
.footer-image-bg {
    color: #222;
}

.dark-footer-image-bg {
    background-image: url(../img/dark-footer-bg.jpeg);
    background-size: cover;
    background-position: center center;
}

.dark-footer-image-bg .dark-wrapper,
.dark-footer-image-bg .white-wrapper {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: none;
}

.dark-footer-image-bg *,
.dark-footer-image-bg a {
    color: #ddd;
}


/*-----------------------------------------------------------------------------------*/


/*  12 - CAROUSEL STYLES
/*-----------------------------------------------------------------------------------*/

.fw-carousel .owl-item,
.post-slider .owl-item {
    padding: 0
}

.fw-carousel .hover-item-caption h3 {
    font-size: 20px
}


/*-----------------------------------------------------------------------------------*/


/*  13 - SEARCH
/*-----------------------------------------------------------------------------------*/

#search-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(1, 0);
    -moz-transform: translate(0px, -100%) scale(1, 0);
    -o-transform: translate(0px, -100%) scale(1, 0);
    -ms-transform: translate(0px, -100%) scale(1, 0);
    transform: translate(0px, -100%) scale(1, 0);
    opacity: 0;
    z-index: 9999999
}

#search-wrapper.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1
}

#search-wrapper input[type="search"] {
    width: 320px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    border: 0;
    margin: 0 auto;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 13px;
    outline: none;
    border-bottom: 3px solid #fff;
    display: inline;
    text-transform: uppercase;
}

#search-wrapper .btn {
    display: inline-block;
}

#search-wrapper .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: transparent;
    border: none;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
    outline: none;
}


/*-----------------------------------------------------------------------------------*/


/*  14 - SPLASH
/*-----------------------------------------------------------------------------------*/

.preloader {
    background-color: #fcfcfc;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.preloader span {
    text-transform: none;
    font-size: 34px
}

.preloader .preloader-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
        ;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}


/*-----------------------------------------------------------------------------------*/


/*  15 - MAP
/*-----------------------------------------------------------------------------------*/

#mapwrapper {
    min-height: 400px;
    clear: both;
    position: relative;
    display: block;
}


/*-----------------------------------------------------------------------------------*/


/*  16 - FORM CONTROL
/*-----------------------------------------------------------------------------------*/

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 30px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #222;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 3px solid #222;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-control:focus,
.form-control.col-md-4:focus {
    border: none;
    border-bottom: 3px solid #222;
    -webkit-box-shadow: none;
    box-shadow: none
}

.dark-wrapper .form-control {
    border: none;
    border-bottom: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.0);
}

.dark-wrapper .form-control:focus,
.dark-wrapper .form-control.col-md-4:focus {
    border: none;
    color: #fff;
    border-bottom: 3px solid #222;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dark-wrapper .form-control.col-md-4 {
    width: 32.33333%;
    border: none;
    border-bottom: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.0);
    margin: 0 0.5% 10px;
}

.dark-wrapper .form-control.col-md-4:focus {
    width: 32.33333%;
    border: none;
    border-bottom: 3px solid #222;
    background-color: rgba(0, 0, 0, 0.0);
}

.form-control.col-md-4,
.form-control.col-md-4:focus {
    width: 32.33333%;
    border: none;
    border-bottom: 3px solid;
    background-color: transparent;
    margin: 0 0.5% 10px;
}

.dark-wrapper .form-control.col-md-4:first-of-type {
    border-left: none;
}

.transparent-wrapper {
    background-color: transparent;
}

.form-control::-webkit-input-placeholder {
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
}

.form-control:-ms-input-placeholder {
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
}

.dark-wrapper .form-control::-webkit-input-placeholder,
.white-text .form-control::-webkit-input-placeholder {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.dark-wrapper .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.dark-wrapper .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.dark-wrapper .form-control:-ms-input-placeholder {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.main-contact-form textarea,
.main-contact-form textarea:focus,
#commentform .main-contact-form textarea,
#commentform .main-contact-form textarea:focus {
    border-top: none;
    min-height: 250px !important;
}

#contact-tabs .tabtitle {
    margin-top: 0;
}

#contact-tabs .nav-justified {
    position: absolute;
    z-index: 10;
}

#contact-tabs .tab-content .tab-pane {}

#contact-tabs .icon-tabs li {
    border-right: none;
}

.icon-tabs li.silver-bg.active {
    background-color: #edeff0;
}


/*-----------------------------------------------------------------------------------*/


/*  17 -  TABS
/*-----------------------------------------------------------------------------------*/

.nav.nav-justified > li > a {
    position: relative;
}

.icon-tabs li {
    border-right: 1px solid #111;
}

.icon-tabs li a {
    opacity: 0.4;
}

.map-open .icon-tabs li a {
    color: #222;
}

.icon-tabs li.active a {
    opacity: 1;
}

.icon-tabs li:last-of-type,
.dark-wrapper .icon-tabs li:last-of-type {
    border-right: none;
}

.dark-wrapper .icon-tabs li {
    border-right: 1px solid #fefefe;
}

.icon-tabs li .tabtitle {
    clear: both;
    display: block;
    margin: 15px 0 0;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
}

.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus {
    background-color: transparent;
}

.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;
}

.nav.nav-justified > li.active > a > .quote {
    opacity: 1;
}

.nav.nav-justified > li > a > img {
    box-shadow: 0 0 0 5px #13c0ba;
}

.nav.nav-justified > li > a > img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tab-pane .tab-inner {
    padding: 30px 0 20px;
}

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }
    #headerwrap.fullheight {
        min-height: 100vh;
    }
}


/*-----------------------------------------------------------------------------------*/


/*  18 - COUNTDOWN
/*-----------------------------------------------------------------------------------*/

#countdown span {
    width: 12%;
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 70px;
    padding-bottom: 20px;
}

#countdown small {
    font-weight: 300;
    font-size: 18px;
    display: block;
    clear: both;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#countdown {
    overflow: hidden;
    padding-bottom: 20px;
    text-align: left;
}


/*-----------------------------------------------------------------------------------*/


/*  SKILL BARS
/*-----------------------------------------------------------------------------------*/

.skill-bar {
    margin-bottom: 25px;
}

.skill-bar .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #444;
    border-radius: 0;
}

.skill-bar .progress-bar-success {
    background-color: #444;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.skill-bar p {
    margin: 0 0 5px 0;
}


/*-----------------------------------------------------------------------------------*/


/*  19 - MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media all and (min-width: 1600px) {
    .boxed-layout .master-wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media all and (min-width: 1400px) {
    .boxed-layout .master-wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
    .boxed-layout .navbar-fixed-top {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media all and (min-width: 991px) {
    .slide-caption {
        width: 440px;
        height: auto;
        margin: 0 auto;
    }
}

@media(min-width:767px) {
    header .intro-text {
        padding-top: 420px;
        padding-bottom: 100px
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 20px;
        font-size: 40px;
        font-style: normal;
        line-height: 40px;
        letter-spacing: -1px
    }
    header .intro-text .intro-heading {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 6px;
        line-height: 38px
    }
    .intro-sub-heading {
        font-size: 34px;
        text-transform: lowercase;
        letter-spacing: 2px;
        font-weight: 300;
    }
    .navbar-fixed-top .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar li.dropdown:hover > ul.dropdown-menu {
        opacity: 1;
    }
    .navbar li.dropdown:hover> ul.dropdown-menu {
        display: block;
        -webkit-animation: fadeIn 0.4s;
        animation: fadeIn 0.4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

@media(min-width:768px) {
    .pad-sides-120 {
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
    .navbar-default {
        padding: 10px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default.navbar-shrink {
        padding: 0;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out
    }
    .special-max-height {
        max-height: 660px !important;
        height: 660px !important;
    }
}

@media(max-width:768px) {
    .fullheight,
    .fullheight .article-slide,
    .fullheight .article-slide .carousel-inner,
    .fullheight .article-slide .item,
    .fullheight .article-slide .item img {
        height: auto!important;
        min-height: 600px
    }
    .icon-tabs .fa-4x {
        font-size: 46px;
    }
    .icon-tabs li .tabtitle {
        font-size: 12px;
        letter-spacing: 4px
    }
    .dark-wrapper .icon-tabs li {
        border-right: none;
    }
    .form-control.col-md-4,
    .dark-wrapper.form-control.col-md-4 {
        width: 100% !important;
    }
    .navbar-default .navbar-brand {
        margin-top: 0;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 900px;
    }
    .special-max-height {
        max-height: 560px !important;
        height: 560px !important;
    }
    .header-6 .navbar-brand {
        float: left;
    }
    .header-6.navbar-default .navbar-toggle .icon-bar {
        background-color: #333;
    }
    .portfolio-filter,
    .masonry-portfolio-filter {
        text-align: center;
    }
    .navbar-default .nav li.dropdown.open > a,
    .navbar-default .dropdown-menu a,
    .navbar-default.navbar-shrink .nav li > a,
    .navbar-default.navbar-shrink .navbar-brand {
        color: #fff !important;
    }
    .header-6.navbar-default .nav li.dropdown.open > a,
    .header-6.navbar-default .dropdown-menu a,
    .header-6.navbar-default.navbar-shrink .nav li > a,
    .header-6.navbar-default.navbar-shrink .navbar-brand {
        color: #333 !important;
    }
    section h2.section-heading,
    .section-heading {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 22px;
        letter-spacing: 8px;
        font-weight: 700;
        text-align: center;
    }
    section h3.section-subheading {
        text-align: center;
    }
    #contact-tabs .icon-tabs li a {
        text-align: center;
    }
}

@media(max-width:460px) {
    .fullheight,
    .fullheight .article-slide,
    .fullheight .article-slide .carousel-inner,
    .fullheight .article-slide .item,
    .fullheight .article-slide .item img {
        height: auto!important;
        min-height: 400px
    }
    .portfolio-item,
    .masonry-portfolio-item {
        width: 100%;
    }
}


/*-----------------------------------------------------------------------------------*/


/*  20 - SHOP
/*-----------------------------------------------------------------------------------*/

.item-excerpt .pull-right {
    margin-top: 0;
}

.onsale {
    position: absolute;
    background-color: #fff;
    padding: 15px 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
}

.images .thumbnails {
    margin-top: 25px;
}

.images .thumbnails a {
    margin-right: 10px;
}

.quantity.buttons_added {
    display: inline-block;
}

.quantity.buttons_added input {
    padding: 13px 5px;
    position: relative;
    top: 1px;
    width: 60px;
    background-color: transparent;
    border: 1px solid;
}

.product-rating.mb,
.summary .price {
    margin-bottom: 25px;
}

.summary .price ins {
    clear: left;
    display: block;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
}

.product-tabs {
    margin-top: 25px;
}

.product-tabs .tab-pane {
    padding: 25px 0;
}

.testimonial-owl .hover-item {
    margin-left: 0;
    margin-right: 0;
}

.testimonial-owl .hover-item .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.testimonial-author {
    margin: 0 auto;
}


/*-----------------------------------------------------------------------------------*/


/*  21 - SIDE NAV
/*-----------------------------------------------------------------------------------*/

.side-nav-active .master-wrapper {
    padding-left: 280px;
}

.side-nav-active .navbar-fixed-top {
    padding-left: 280px;
}

.side-nav-active #side-wrapper {
    width: 280px;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 11;
    padding: 10px;
}

.side-nav-active #side-menu-toggle {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 10;
    background: #f6f6f6;
    border: none;
    font-size: 24px;
    padding: 6px 8px;
    line-height: 1;
}

.side-nav-active #side-menu-toggle.open {
    margin-left: 220px;
    z-index: 15;
}

.side-nav-active .side-menu ul {
    padding: 0;
}

.side-nav-active .side-menu ul li ul li {
    padding: 10px 20px;
}

.side-nav-active .side-menu ul li ul li a {
    font-size: 12px;
    padding: 0 !important;
}

.side-nav-active .side-menu .nav>li>a:hover,
.side-nav-active .side-menu .nav>li>a:focus,
.side-nav-active .navbar-default.navbar-shrink .nav li.active>a {
    background-color: transparent;
    color: #000;
}

#side-wrapper .navbar-header {
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

#side-wrapper .thin-hr:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: #333;
    left: 17px;
    margin-left: 0;
}

#side-wrapper .thin-hr {
    margin: 20px 0 40px;
}

#side-wrapper .navbar-default {
    background-color: #fcfcfc;
    padding: 0 !important;
}

#side-wrapper .navbar-default .nav li a {
    padding: 12px 18px;
}

@media(max-width:768px) {
    #side-wrapper {
        display: none;
        background-color: #fcfcfc;
    }
    .side-nav-active .master-wrapper {
        padding-left: 0;
    }
    #side-wrapper .navbar-default .nav li a {
        padding: 10px 20px;
    }
    .navbar-default .nav li a {
        padding: 10px 20px;
    }
}

.side-menu .dropdown-menu,
.side-menu .dropdown-submenu>.dropdown-menu {
    position: relative;
    width: 100%;
    background-color: transparent;
    left: 0 !important;
    top: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 0 20px;
}

.side-menu .dropdown-submenu >.dropdown-menu {
    display: none;
}

.side-menu .dropdown-submenu.open >.dropdown-menu {
    display: block;
}

.side-menu .nav .open>a,
.side-menu .nav .open>a:hover,
.side-menu .nav .open>a:focus,
.side-menu .nav>li>a:hover,
.side-menu .nav>li>a:focus,
.side-menu .dropdown-menu>li>a:hover,
.side-menu .dropdown-menu>li>a:focus {
    background-color: transparent;
}

.side-menu .nav li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 12px 0px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    letter-spacing: 1px;
}

.side-menu .dropdown-menu>li>a {
    padding: 10px 0px;
    font-size: 11px;
    font-weight: 400;
    white-space: normal;
    max-width: 280px;
}

.side-menu .collapse {
    display: none;
    height: 0;
    opacity: 0;
    -webkit-transition: height 0.65s ease;
    transition: height 0.65s ease;
}

.side-menu .collapse.in {
    display: block;
    height: 100%;
    opacity: 1;
    -webkit-transition: height 0.65s ease;
    transition: height 0.65s ease;
}

.promo-inner {
    overflow: hidden;
}

.demo-selector .masonry-portfolio-item {
    margin-bottom: 30px;
}
